@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navibar img{
    width: 100px;
    float: left;

}


.navibar{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 15vh;
    float: left;
    background-color:#030923;
    box-shadow: 1px 5px 5px 0 hsla(0, 0%, 100%, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.navibar ul{
    list-style: none;
}

.navibar ul li{
    float: left;
    padding: 20px;
    font-weight: 500;
}

.navibar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    transition: all 0.3s ease;
}

.navibar ul li a:hover{
    border-bottom: 2px solid #fff;
    border-radius: 1px;
}

.contact-form-heading{
    animation: scroll 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    width: 100%;
    float: left;
    text-align: left;
    display: flex;
    height: 60vh;
    padding: 10vh;
    background-image: url(images/bluebg.png);
    background-position: center;
    background-size: contain;
    background-blend-mode: overlay;
    background-color: #030a24;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form h1{
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-form p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.team-content{
    background-color: #030a24;
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.team-member{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .team-member h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.team-member h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center; 
    text-align: center;
    margin-top: 10px;
}

.team-member p{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.team-member img{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.socials{ 
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.socials img{
    width: 40px; 
    height: 40px;
    transition: transform 0.3s ease;
}

